@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');


:root {
  --primary-color: #20AE72;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  --header-height: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.app--header{
  width: 100%;
  height: 60px;
  padding: 0 16px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
}

.app--header img{
  max-width: 40px;
}

footer {
  width: 100%;
  /* height: var(--header-height); */
  display: flex;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

footer nav {
  display: flex;
  width: 100%;
}

footer nav li {
  list-style: none;
  flex: 1 0 33%;
}

footer nav li a {
  color: black;
  display: flex;
  padding: 8px;
}

footer nav li a.active svg path {
  fill: #307351;
}

footer nav li a svg {
  display: flex;
  align-items: flex-end;
}

.main-container {
  /* padding: 16px; */
}

.main-container--top {
  flex: 1;
  z-index: 1;
}

.main-container--bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 10;
}


.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--primary-color);
  color: white;
  padding: 32px;
}

.home--logo-container {
  display: flex;
  flex: 0 0 60%;
  padding: 32px;
  align-items: center;
  justify-content: center;
  
}

.home--title-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 420px;
  gap: 8px;
}

.home--title-container p {
  font-weight: 500
}


.home--title-container h1 {
  font-size: 32px;
}

.home--title-container-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background: white;
  text-align: center;
}

.back--button{
  border-radius: 8px;
  background-color: #f5f5f5;
  /* color: white; */
  padding: 4px 8px;
  align-self: baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: fixed;
  top: 2rem;
  left: 2rem;
}

.back--button svg {
  width: 16px;
}

.back--button span {
  font-size: 12px;
}

.cta--button {
  font-size: 16px;
  background: var(--primary-color);
  padding: 16px 24px;
  width: 100%;
  color: white;
  border-radius: 32px;
  font-weight: 500;
}

.cta--button-delete {
  background: #d30415;
}

.home .cta--button {
  background: rgba(255,255,255,0.1);
  text-align: center;
}

form {
  width: 100%;
}

.input--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.input--container span {
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.input--container input {
  padding: 18px;
  border: 1px solid #8A8A8A;
  border-radius: 8px;
}

#upload input{
  border-radius: 8px;
  background: #eff0ef;
}

#upload input::placeholder{
  color: rgba(128, 133, 126, 0.938)
}

.dashboard {
  background: var(--primary-color);
}

.logo-mark {
  padding: 50px 16px 72px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard--container {
  background: white;
  flex: 1;
  border-radius: 32px 32px 0 0;
  padding: 16px;
}

.dashboard--welcome{
  padding: 72px 0;
}

.dashboard .dashboard--title-container-text {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 0px rgba(48,115,81,0.5);
}


.dashboard--container p{
  font-size: 14px;
}

.dashboard--container h1{
  font-size: 36px;
}

.dashboard--previous-activity--container {
  overflow-x: auto;
  column-gap: 8px;
}

.previous-activity--image {
  height: 110px;
  width: 168px;
  background: grey;
  border-radius: 8px
}

.previous-acitivty--date{
  font-size: 12px;
  font-weight: 300;
}

.previous-acitivty--name{
  font-size: 16px;
  font-weight: 500;
}

.previous-acitivty--distance{
  font-size: 14px;
}

.dashboard--previous-activity h2{
  font-size: 14px;
  font-weight: bold;

}

.dashboard--previous-activity p{
  font-size: 14px;
  font-weight: bold;

}

.dashboard--previous-activity li {
  box-shadow: 0px 0px 2px 0px rgba(48,115,81,0.3);
}