/**** Imports ****/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/**** Variables ****/

:root {
  --primary-color: #20AE72;
  --primary-color-highlight: #69E0AE;
  --secondary-color: #0A2E36;
  --secondary-color--highlight: #00c5f3;  
  --secondary-color--off: #2390ac;
  --navigation-desktop--width: 70px;
}

/**** Base ****/

h1, h2, h3, h4, h5, h6, span, p {
  color: var(--secondary-color)
}

a, button {
  cursor: pointer;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

/**** Global ****/

.desktop-only {
  display: none;
}

.navigation--container {
  width: 100%;
}

.page-title {
  font-size: 18px;
  font-weight: 600;
}

.logout-button {
  position: absolute;
  font-size: 12px;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 12px 8px;
}

.text-white {
  color: white;
}

.main-container {
  padding-bottom: 90px;

  &--top {
    flex: 1;
    z-index: 1;
  }

  &--bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    z-index: 10;
    background: rgba(255,255,255,0.9)
  }
}

.app--header{
  width: 100%;
  height: 60px;
  padding: 0 16px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;

  img{
    max-width: 40px;
  }
}

/**** Buttons ****/

.back--button{
  border-radius: 8px;
  background-color: #f5f5f5;
  padding: 4px 8px;
  align-self: baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  top: 2rem;
  left: 2rem;

  svg {
    width: 16px;
  }

  span {
    font-size: 12px;
  }
}

.login--button {
  padding: 16px 24px;
  border-radius: 32px;
  width: 100%;
  text-align: center;
  position: relative;
  height: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.2s;

  span{
    font-size: 16px;
    color: white;
    font-weight: 500;
    text-align: center;
  }

  &.login--button-loading span {
    display: none;
  }

  .login--button-loading {
    width: 48px;
  }
}

.cta--button {
  font-size: 16px;
  padding: 16px 24px;
  width: 100%;
  border-radius: 32px;
  font-weight: 500;
  text-align: center;
  cursor: pointer;

  &-primary {
    background: var(--secondary-color);
    color: white;
  }

  &-secondary {
    background: #C9FFE8;
    color: var(--secondary-color);
  }

  &-delete {
    background: #d30415;
  }
}

/**** Forms ****/

form {
  width: 100%;
}

.error-message {
  font-weight: 400 !important;
  color: red;
}

.input--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;

  span {
    font-size: 16px;
    font-weight: 500;
    display: block;
  }

  input {
    padding: 18px;
    border: 1px solid #8A8A8A;
    border-radius: 8px;
  }
}

/**** Verify Page ****/

.verify-your-email {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 32px;

  h1 {
    color: #0A2E36;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
  }

  img {
    max-width: 80px;
  }

  p {
    color: #0A2E36;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    button {
      color: #20AE72;
      text-decoration: underline;
    }
  }
}

/**** 404 page ****/

.PageNotFound {
  height: 100vh;
  width: 100%;
  background: var(--Sky-Gradient-10, linear-gradient(180deg, #B7EAFF 0%, #94DFFF 100%));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;

  .PageNotFound--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1224px;
    gap: 48px;
    z-index: 5;
    position: relative;
  }

  .PageNotFound--text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    gap: 30px;

    h1 {
      color: #0A2E36;
      font-size: 96px;
      font-style: normal;
      font-weight: 900;
      line-height: 100%;
      text-align: center;
      width: 100%;
    }

    p {
      color: #0A2E36;
      text-align: center;
      font-size: 32px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
    }
  }

  .PageNotFound--image-container {
    display: flex;
    flex-direction: column;
    width: 360px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 24px;

    a {
      display: flex;
      padding: 16px 32px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      flex: 1 0 0;
      width: auto;
      font-family: "Source Sans 3";
      transition: all 0.3s;

      &:hover {
        background: black;
      }
    }
  }
}

@media (max-width: 940px) {
  .PageNotFound--container {
    flex-direction: column;

    .PageNotFound--text-container {
      text-align: center;
      align-items: center;
      width: auto;

      h1 {
        padding: 0 16px;
        font-size: 60px;
      }

      p {
        padding: 0 16px;
        font-size: 24px;
      }
    }

    .PageNotFound--image-container {
      max-width: 360px;
      width: auto;
    }
  }
}

/**** Navigation ****/

.navigation--container {
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;

  nav {
    display: flex;
    width: 100%;

    .nav-link {
      list-style: none;
      flex: 1 0 33%;

      &--home a.active svg path {
        stroke: var(--primary-color)
      }

      &--play a.active svg path {
        fill: var(--primary-color)
      }

      &--upload a.active svg path {
        stroke: var(--primary-color)
      }

      a {
        color: black;
        display: flex;
        font-size: 12px;
        flex-direction: column;
        align-items: center;
        row-gap: 4px;

        &.active {
          color: var(--primary-color)
        }

        svg {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}

/**** Dashboard ****/

.dashboard {
  padding: 0;
  background: var(--primary-color);

  &--container {
    background: white;
    flex: 1;
    border-radius: 32px 32px 0 0;
    padding: 16px;

    p{
      font-size: 14px;
    }

    h2{
      font-size: 24px;
    }
  }

  &--welcome{
    padding: 62px 0;
  }

  &--title-container-text {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0px 0px 25px 0px rgba(48,115,81,0.5);
  }

  &--previous-activity {

    h3{
      font-size: 14px;
      font-weight: bold;
    }

    p{
      font-size: 14px;
      font-weight: bold;
    }

    &--container {
      overflow-x: auto;
      column-gap: 8px;
    }
  } 
}

/**** Home ****/

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--primary-color);
  color: white;
  padding: 32px;

  .main-container--bottom {
    background: transparent
  }

  .home--title-container {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 420px;
    gap: 8px;

    h1 {
      font-size: 32px;
    }

    p {
      font-weight: 500
    }

    .home-logo {
      position: relative;
    
      &--mark {
        position: absolute;
        top: 12px;
        right: 64px;
      }
    }
  }

  .login-container--bottom {
    width: 100%;
    padding: 16px;
    z-index: 10;
  }
}

/**** Explore ****/

.explore {
  padding: 16px;

  // &.main-container {
  //   padding-bottom: 90px;
  // }

  #freejoa-map {
    min-height: 300px;
  }

  &-heading {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  
    h1 {
      font-size: 20px;
    }
  
    h2 {
      font-size: 14px;
    }
  
    .filters {
      display: flex;
      gap: 8px;
  
      .filter {
        color: #555555;
        border: 1px solid #555555;
        padding: 4px 8px;
        border-radius: 12px;
        font-size: 14px;
  
        &.active {
          color: white;
          border: 1px solid transparent;
          background: var(--primary-color)
        }
      }
    }
  }

  &-container {
    display: flex;
  }

  .standout {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    padding: 24px 0;

    .movement {
      padding: 24px 0;
      display: flex;
      flex-direction: column;
      gap: 16px;
    
      &--text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: center;
    
        h3 {
          font-size: 36px;
        }
    
        span {
          font-size: 18px;
        }
      }
    }
  }
}

/**** Locations list ****/

.explore-container {
  flex-direction: column-reverse;

  .GoogleMap {
    height: 300px !important;
    margin-bottom: 16px;
  }
}

.location-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  box-sizing: border-box;

  &--item {
    flex: 1 0 45%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 8px;
    cursor: pointer;

    &-image {
      height: 160px;
      width: 100%;
      background: #D9D9D9;
      border-radius: 12px;
    }

    &-container{
      display: flex;
      flex-direction: column;
      row-gap: 4px;
    }

    &-filter {
      display: flex;
      justify-content: space-between;

      span {
        font-size: 12px;
        display: flex;
        align-items: center;
      }
    }

    &-tree {
      display: flex;
      gap: 2px;
      align-items: center;

      span {
        font-size: 14px;
      }
    }

    &-title {
      font-size: 14px;
    }

    &-visited {
      font-size: 12px;
      font-weight: 300;
    }

    &.selected {
      flex: 1;

      .location-list--item-image {
        height: auto;
        padding-bottom: 75%;
      }
    }
  }

  .probability {
    display: flex;
    gap: 4px;
    border-radius: 4px;
    padding: 4px;
    align-self: baseline;

    span {
      font-size: 12px;
      color: #555555;
    }
  }
}

/**** Dashboard ****/

.logo-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 155px;
  position: relative;

  .logout {
    position: absolute;
    top: 16px;
    right: 16px;
  }
}

/**** Upload Page ****/

.get-my-location{
  font-size: 14px;
  text-decoration: underline;
  color: var(--secondary-color);
  cursor: pointer;
}




/* Desktop restyle */

@media (min-width: 600px) {

  .desktop-only {
    display: block;
    max-width: 40px;
    margin: 16px auto;
  }

  .container-size {
    height: 100%;
    container-type: size;
  }

  .explore {
    height: 100vh;

    .standout {
      display: none;
    }
  }

  .login {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  .home > div {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  /* START: navigation */

  .main-container--bottom {
    position: fixed;
    left: 0;
    height: 100vh;
    width: var(--navigation-desktop--width);
    flex-direction: column;
    background: var(--secondary-color);
    padding: 0;

    .navigation--container {
      justify-content: space-between;
      flex-direction: column;
      height: 100%;

      nav {
        flex-direction: column;
        gap: 16px;

        .nav-link {
          display: flex;
          justify-content: center;

          span {
            display: none;
          }
      
          a {
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background: var(--secondary-color--off);
      
            &.active {
              background: var(--secondary-color--highlight);
            }

            svg {
              width: 28px;
              height: 28px;
            }
          }

          &--home a.active svg path {
            stroke: var(--secondary-color)
          }
    
          &--play a.active svg path {
            fill: var(--secondary-color)
          }
    
          &--upload a.active svg path {
            stroke: var(--secondary-color)
          }

        }
      }
    }
  }

  .navigation-logout {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--secondary-color--off);
  }

  /* END: navigation */

  /* START: dashboard */

  .dashboard {
    margin-left: var(--navigation-desktop--width);

    .logo-mark {
      display: none;
    }

    &--container {
      border-radius: 0;

      .dashboard--header {
        text-align: left;

        div {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: flex-start;
        }
      }

      .dashboard--previous-activity .location-list--item {
        max-width: 200px;
      }
    }

    .dashboard--container h2, .dashboard .dashboard--container p {
      font-size: 36px;
    }
  }

  .page-heading {
    font-size: 32px;
  }

  /* END: dashboard */

  /* START: play */

  .explore {
    margin-left: var(--navigation-desktop--width);

    .explore-container {
      flex-direction: row;
    
      .GoogleMap {
        height: 100% !important;
        margin-bottom: 0;
      }
    }

    .location-list {
      max-width: 370px;
      width: 100%;
      padding-right: 16px;
      overflow-y: scroll;
      align-content: start;

      &--item {
        flex: 0 1 47%;
      }
    }
  }

  /* END: play */

  /* START: play */

  .upload {
    margin-left: var(--navigation-desktop--width);
  }

  /* END: play */
  
}


/**** Animations ****/

@-webkit-keyframes rotating  {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 6s linear infinite;
  -moz-animation: rotating 6s linear infinite;
  -ms-animation: rotating 6s linear infinite;
  -o-animation: rotating 6s linear infinite;
  animation: rotating 6s linear infinite;
}

.spinner {
	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 8px;
	left: calc(50% - 17px);
	background: transparent;
	box-sizing: border-box;
	border-top: 4px solid white;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-radius: 100%;
	animation: spin 1s ease-out infinite;
}

@keyframes spin {
	100% {transform: rotate(360deg)}
}