@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --primary-color: #20AE72;
  --secondary-color: #0A2E36;
  --website-header-height: 90px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
  --header-height: 50px;
}

body {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span, p {
  color: var(--secondary-color)
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

.desktop-only {
  display: none;
}

.navigation--container {
  width: 100%;
}

.verify-your-email {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding: 32px;
}

.verify-your-email h1 {
  color: #0A2E36;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.verify-your-email img {
  max-width: 80px;
}

.verify-your-email p {
  color: #0A2E36;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.verify-your-email p button {
  color: #20AE72;
  text-decoration: underline;
}

.website--section {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

#home {
  background: var(--Sky-Gradient-10, linear-gradient(180deg, #B7EAFF 0%, #94DFFF 100%));
  position: relative;
  height: auto;
  margin-top: var(--website-header-height);
}

#about {
  background-color: rgba(201, 255, 232, 1)
}

#explore {
  background-color: #FFC9CC;
} 

#upload {
  background-color: #FFEDC9;
}





.PageNotFound {
  height: 100vh;
  width: 100%;
  background: var(--Sky-Gradient-10, linear-gradient(180deg, #B7EAFF 0%, #94DFFF 100%));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: relative;
}

.PageNotFound--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1224px;
  gap: 48px;
  z-index: 5;
  position: relative;
}

.PageNotFound--text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  gap: 30px;
}

.PageNotFound--text-container h1 {
  color: #0A2E36;
  font-size: 96px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%;
  text-align: center;
  width: 100%;
}

.PageNotFound--text-container p {
  color: #0A2E36;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%;
}

.PageNotFound--image-container {
  display: flex;
  flex-direction: column;
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 24px;
}

.PageNotFound--image-container a {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  width: auto;
  font-family: "Source Sans 3";
  transition: all 0.3s;
}

.PageNotFound--image-container a:hover {
  background: black;
}

@media (max-width: 940px) {
  .PageNotFound--container {
    flex-direction: column;
  }

  .PageNotFound--text-container {
    text-align: center;
    align-items: center;
    width: auto;
  }

  .PageNotFound--text-container h1 {
    padding: 0 16px;
    font-size: 60px;
  }

  .PageNotFound--text-container p {
    padding: 0 16px;
    font-size: 24px;
  }

  .PageNotFound--image-container {
    max-width: 360px;
    width: auto;
  }
}

.app--header{
  width: 100%;
  height: 60px;
  padding: 0 16px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
}

.app--header img{
  max-width: 40px;
}

.text-white {
  color: white;
}

.navigation--container {
  width: 100%;
  /* height: var(--header-height); */
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.navigation--container nav {
  display: flex;
  width: 100%;
}

.nav-link {
  list-style: none;
  flex: 1 0 33%;
}

.nav-link--home a.active svg path {
  stroke: var(--primary-color)
}

.nav-link--play a.active svg path {
  fill: var(--primary-color)
}

.nav-link--upload a.active svg path {
  stroke: var(--primary-color)
}

.nav-link a.active {
  color: var(--primary-color)
}

.nav-link a {
  color: black;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

.nav-link a svg {
  display: flex;
  align-items: flex-end;
}

.main-container {
  padding-bottom: 90px;
}

.dashboard {
  padding: 0;
}

.main-container--top {
  flex: 1;
  z-index: 1;
}

.login-container--bottom {
  width: 100%;
  padding: 16px;
  z-index: 10;
}

.main-container--bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  z-index: 10;
  background: rgba(255,255,255,0.9)
}

.home .main-container--bottom {
  background: transparent
}

.page-title {
  font-size: 18px;
  font-weight: 600;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--primary-color);
  color: white;
  padding: 32px;
}

.home--logo-container {
  display: flex;
  flex: 0 0 60%;
  padding: 32px;
  align-items: center;
  justify-content: center;
  
}

.home-logo {
  position: relative;
}

.home-logo--mark {
  position: absolute;
  top: 12px;
  right: 64px;
}

.home--title-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 420px;
  gap: 8px;
}

.home--title-container p {
  font-weight: 500
}


.home--title-container h1 {
  font-size: 32px;
}

.home--title-container-text {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
  background: white;
  text-align: center;
}

.back--button{
  border-radius: 8px;
  background-color: #f5f5f5;
  /* color: white; */
  padding: 4px 8px;
  align-self: baseline;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  /* position: fixed; */
  top: 2rem;
  left: 2rem;
}

.back--button svg {
  width: 16px;
}

.back--button span {
  font-size: 12px;
}

.login--button {
  padding: 16px 24px;
  border-radius: 32px;
  width: 100%;
  text-align: center;
  position: relative;
  height: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
  transition: all 0.2s;
}

.login--button span{
  font-size: 16px;
  color: white;
  font-weight: 500;
  text-align: center;
}

.login--button.login--button-loading span {
  display: none;
}

.login--button-loading {
  width: 48px;
}

.cta--button {
  font-size: 16px;
  padding: 16px 24px;
  width: 100%;
  border-radius: 32px;
  font-weight: 500;
  text-align: center;
}

.cta--button-primary {
  background: var(--secondary-color);
  color: white;
}

.cta--button-secondary {
  background: #C9FFE8;
  color: var(--secondary-color);
}

.cta--button-delete {
  background: #d30415;
}

form {
  width: 100%;
}

.error-message {
  font-weight: 400 !important;
  color: red;
}

.input--container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.input--container span {
  font-size: 16px;
  font-weight: 500;
  display: block;
}

.input--container input {
  padding: 18px;
  border: 1px solid #8A8A8A;
  border-radius: 8px;
}

.explore {
  padding: 16px;
}

.explore.main-container {
  padding-bottom: 90px;
}

.standout {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  padding: 24px 0;
}

.movement {
  padding: 24px 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.movement--arrow {
 
}

.movement--text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.movement--text h3 {
  font-size: 36px;
}

.movement--text span {
  font-size: 18px;
}

.explore-heading {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.explore-heading h1 {
  font-size: 20px;
}

.explore-heading h2 {
  font-size: 14px;
}

.explore-heading .filters {
  display: flex;
  gap: 8px;
}

.explore-heading .filters .filter {
  color: #555555;
  border: 1px solid #555555;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
}

.explore-heading .filters .filter.active {
  color: white;
  border: 1px solid transparent;
  background: var(--primary-color)
}



.locations-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 16px;
  box-sizing: border-box;
}

.locations-list--item {
  flex: 1 0 45%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.locations-list--item.selected {
  flex: 1
}

.location-list--item-image {
  height: 160px;
  width: 100%;
  background: #D9D9D9;
  border-radius: 12px;
}

.locations-list--item.selected  .location-list--item-image {
  height: auto;
  padding-bottom: 75%;
}

.location-list--item-container{
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.location-list--item-filter {
  display: flex;
  justify-content: space-between;
}

.location-list--item-filter span {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.location-list--item-tree {
  display: flex;
  gap: 2px;
  align-items: center;
}

.location-list--item-tree span {
  font-size: 14px;
}

.location-list--item-title {
  font-size: 14px;
}

.location-list--item-visited {
  font-size: 12px;
  font-weight: 300;
}

.probability {
  display: flex;
  gap: 4px;
  border-radius: 4px;
  padding: 4px;
  align-self: baseline;
}

.probability span {
  font-size: 12px;
  color: #555555;
}

.dashboard {
  background: var(--primary-color);
}

.logo-mark {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  height: 155px;
  position: relative;
}

.logo-mark .logout {
  position: absolute;
  top: 16px;
  right: 16px;
}

.dashboard--container {
  background: white;
  flex: 1;
  border-radius: 32px 32px 0 0;
  padding: 16px;
}

.dashboard--welcome{
  padding: 62px 0;
}

.dashboard .dashboard--title-container-text {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 0px 25px 0px rgba(48,115,81,0.5);
}


.dashboard--container p{
  font-size: 14px;
}

.dashboard--container h2{
  font-size: 24px;
}

.dashboard--previous-activity--container {
  overflow-x: auto;
  column-gap: 8px;
}

.previous-activity--image {
  height: 110px;
  width: 168px;
  background: #D9D9D9;
  border-radius: 8px
}

.previous-acitivty--date{
  font-size: 12px;
  font-weight: 300;
}

.previous-acitivty--name{
  font-size: 16px;
  font-weight: 500;
}

.previous-acitivty--distance{
  font-size: 14px;
}

.dashboard--previous-activity h3{
  font-size: 14px;
  font-weight: bold;

}

.dashboard--previous-activity p{
  font-size: 14px;
  font-weight: bold;

}

/* .dashboard--previous-activity li {
  box-shadow: 0px 0px 2px 0px rgba(48,115,81,0.3);
} */

.get-my-location{
  font-size: 14px;
  text-decoration: underline;
  color: var(--secondary-color);
}

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 6s linear infinite;
  -moz-animation: rotating 6s linear infinite;
  -ms-animation: rotating 6s linear infinite;
  -o-animation: rotating 6s linear infinite;
  animation: rotating 6s linear infinite;
}


.logout-button {
  position: absolute;
  font-size: 12px;
  right: 0;
  top: 0;
  cursor: pointer;
  padding: 12px 8px;
}

.spinner {
	display: block;
	width: 34px;
	height: 34px;
	position: absolute;
	top: 8px;
	left: calc(50% - 17px);
	background: transparent;
	box-sizing: border-box;
	border-top: 4px solid white;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-radius: 100%;
	animation: spin 1s ease-out infinite;
}

@keyframes spin {
	100% {transform: rotate(360deg)}
}


/* Desktop restyle */

@media (min-width: 600px) {

  .desktop-only {
    display: block;
  }

  .login {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  .home > div {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
  }

  /* START: navigation */

  .main-container--bottom {
    position: fixed;
    left: 0;
    height: 100vh;
    width: 90px;
    flex-direction: column;
    background: var(--primary-color)
  }

  .main-container--bottom .navigation--container {
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
  }

  .main-container--bottom .navigation--container nav {
    flex-direction: column;
    gap: 16px;
  }

  .nav-link span {
    display: none;
  }

  .nav-link a {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #25BE7E;
  }

  .nav-link a.active {
    background: #69E0AE;
  }

  .nav-link--home a.active svg path {
    stroke: var(--secondary-color)
  }
  
  .nav-link--play a.active svg path {
    fill: var(--secondary-color)
  }
  
  .nav-link--upload a.active svg path {
    stroke: var(--secondary-color)
  }
  
  .nav-link a.active {
    color: var(--primary-color)
  }

  .navigation-logout {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #25BE7E;
  }

  /* END: navigation */

  /* START: dashboard */

  .dashboard {
    margin-left: 90px;
  }

  .dashboard .logo-mark {
    display: none;
  }

  .dashboard .dashboard--container {
    border-radius: 0;
  }

  .page-heading {
    font-size: 32px;
  }

  .dashboard .dashboard--container h2, .dashboard .dashboard--container p {
    font-size: 36px;
  }

  .dashboard .dashboard--container .dashboard--header {
    text-align: left;
  }

  .dashboard .dashboard--container .dashboard--header div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .dashboard .dashboard--container .dashboard--previous-activity .locations-list--item {
    max-width: 200px;
  }

  /* END: dashboard */

  /* START: play */

  .explore {
    margin-left: 90px;
  }

  /* END: play */

  /* START: play */

  .upload {
    margin-left: 90px;
  }

  /* END: play */
  
}







/* Website css */

.website {
  width: 100%;
}

.website .website-page--title {

}

.website .website--navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--website-header-height);
  z-index: 10;
  background: white;
  display: flex;
  align-items: center;
}

.website .website--navigation .website--navigation-container {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.website .website--navigation .website--navigation-container .website--navigation-logo {
  display: flex;
  align-items: center;
}

.website .website--navigation .website--navigation-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.website .website--navigation .website--navigation-container .website--navigation-buttons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.website--navigation-buttons a {
  padding: 16px 32px;
  font-size: 500;
  border-radius: 8px;
}

.website--navigation-sign-in {
  background: var(--secondary-color);
  color: white;
  font-size: 15px;
}

.website--navigation-sign-up {
  background: var(--primary-color);
  color: white;
  font-size: 15px;
}

.landscape--container {
  z-index: 3;
  margin-left: auto; 
  margin-right: auto;
  width: 100%;
}

.cloud1 {
  z-index: 3;
  position: absolute;
  left: 80px;
  top: 200px;
  animation-name: cloud1Move;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-delay: -2s;
}

.cloud2 {
  z-index: 3;
  position: absolute;
  left: 180px;
  top: 40px;
  animation-name: cloud2Move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cloud3 {
  z-index: 3;
  position: absolute;
  right: 80px;
  top: 120px;
  animation-name: cloud3Move;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes cloud1Move {
  0%   {top:200px;}
  50%  {top:205px;}
  100% {top:200px;}
}

@keyframes cloud2Move {
  0%   {top:40px;}
  50%  {top:45px;}
  100% {top:40px;}
}

@keyframes cloud3Move {
  0%   {top:120px;}
  50%  {top:125px;}
  100% {top:120px;}
}

.backgroundWash {
  z-index: 2;
  position: absolute;
  background: rgba(255, 255, 255, 0.51);
  width: 100%;
  /* height: 100vh; */
}

.website-page--container {
  display: flex;
  align-items: center;
  max-width: 1224px;
  padding: 0 16px;
  z-index: 5;
  position: relative;
}

.website-page--container div {
  flex: 0 0 50%;
}

.website-page--text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding-right: 32px;
}

.website-page--title {
  z-index: 4;
  position: relative;
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  top: 0;
  width: 100%;
  padding-top: 10vw;
}

.website-page--title h1 {
  color: rgb(60, 60, 67);
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 128px */
  font-family: "Source Sans 3";
  text-align: center;
}

.website-page--title .cta--button {
  width: auto;
}

.website-page--text-container h2 {
  color: #000;
  font-family: "Source Sans 3";
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 100%; /* 96px */
}

.website-page--text-container p {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 32px */
  font-family: "Source Sans 3";
}

.website-page--text-container a {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  width: auto;
  font-family: "Source Sans 3";
  transition: all 0.3s;
}

.website-page--text-container a:hover {
  background: black;
}

.website-page--image-container {
  display: flex;
  width: 360px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

@media (max-width: 940px) {
  .website-page--container {
    flex-direction: column;
  }

  .website-page--text-container {
    text-align: center;
    align-items: center;
    width: auto;
    padding-right: 0;
  }

  .website-page--text-container h1 {
    padding: 0 16px;
    font-size: 48px;
  }

  .website-page--text-container h2 {
    padding: 0 16px;
    font-size: 36px;
  }

  .website-page--text-container p {
    padding: 0 16px;
  }

  .website-page--image-container {
    max-width: 360px;
    width: auto;
    padding: 0 16px;
  }

  .website-page--image-container img {
    width: 100%;
  }
}

.website--navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px;  */
  margin: 0 auto;
  padding: 0 16px;
}

/* .website--navigation-logo {
  flex: 1;
} */

.website--navigation-hamburger {
  display: none; /* Hide hamburger on desktop */
}

.website--navigation-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* Hamburger Icon CSS */
.hamburger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: #333;
  margin: 3px 0;
  transition: transform 0.3s ease;
}

.line-open:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.line-open:nth-child(2) {
  opacity: 0;
}

.line-open:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.mobile--logo {
  display: none;
}

.website--navigation a {
  position: relative;
}

.website--navigation a:after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.website--navigation a.active:after {
  background: #000;
  width: 100%;
}

@media (max-width: 768px) {

  .mobile--logo {
    display: block;
  }

  .desktop--logo {
    display: none;
  }

  .website--navigation {
    height: 80px;
  }

  .website--navigation-hamburger {
    display: block; /* Show hamburger on smaller screens */
    cursor: pointer;
  }

  .website--navigation-links {
    position: absolute;
    top: 80px; /* Adjust based on your header height */
    left: 0;
    background-color: #fff;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    height: 50px;
    padding: 0 20px;
  }

  .website--navigation-links.open {
    max-height: 300px; /* Adjust based on your menu height */
   
    background: white;
  }

  .website--navigation-container ul {
    display: none; /* Hide menu by default on smaller screens */
  }

  .website--navigation-buttons {
    display: none; /* Hide buttons on smaller screens */
  }

  .website--navigation-logo {order: 1;}
  .website--navigation-hamburger {order: 3;}
  .website--navigation-buttons {order: 2;}

  .website-page--title {
    gap: 16px;
  }

  .website-page--title h1 {
    font-size: 32px;
  }

}
